<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
  </head>
  <center>
  <body>
    <section class="section">
    <div class="container">
  <h1 class="title"><strong>Students</strong></h1>
  <a href="/students/student_add">Add Student</a>
    <h2><br>
          <table class="table">
          <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <!-- <%var i = 1%> -->
          <%dataStud.forEach(d => {%>
            <tr>
            <!-- <td><%=i%><%i+=1%></td> -->
            <td><%=d.id%></td>
            <td><%=d.firstname%></td>
            <td><%=d.lastname%></td>
            <td><%=d.email%></td>
            <td><a href="/students/<%=d.id%>/addsubject">Add Subject</a></td>
            <td> <a href="/students/edit/<%=d.id%>">Edit</a> </td>
            <td> <a href="/students/delete/<%=d.id%>">Delete</a> </td>
          <%})%>
          </tr>
</table>
    </h2>
  <a href="/">
    <span class="icon">
      <i class="fa fa-home">Home</i>
    </h2>
  </div>
</section>
  </span>
  </a>
  </center>
  </body>
</html>
